@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"); // font-family: 'Inter', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap"); // font-family: 'Lexend Deca', sans-serif;

body, p, h3, h4 {
    margin: 0;
}

body {
  background: hsl(233, 47%, 7%);
  .signature {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 12px;
    a {
      font-weight: 700;
      color: hsla(0, 0%, 100%, 0.75);
    }
  }
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card {
      background: hsl(244, 38%, 16%);
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      flex-direction: column;
      height: 780px;
      width: 327px;
      .text {
        order: 2;
        height: 540px;
        padding: 31.5px;
        font-family: "Inter", sans-serif;
        color: #fff;
        text-align: center;
        h3 {
          font-weight: 700;
          font-size: 28px;
          line-height: 32px;
          max-width: 264px;
          margin-bottom: 16px;
          span {
            color: #ab5cdb;
          }
        }
        p {
          font-size: 15px;
          line-height: 25px;
          max-width: 264px;
          color: hsla(0, 0%, 100%, 0.75);
          margin-bottom: 40px;
        }
        .stats {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 375px;
            .stat {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                h4 {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                }
                .heading {
                    font-family: 'Inter', sans-serif;
                    text-transform: uppercase;
                    color: hsla(0, 0%, 100%, 0.6);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 1px;
                }
            }
        }
      }
      .overlay {
        order: 1;
        height: 240px;
        width: 100%;
        background: #ab5cdb;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        .image {
          height: 100%;
          background: url("../image-header-mobile.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          mix-blend-mode: multiply;
          opacity: 0.75;
        }
      }
    }
  }
}

@media (min-width: 1120px) {
  body {
    .container {
      .card {
        height: 446px;
        width: 1110px;
        flex-direction: row;
        .text {
            order: 1;
            padding: 72px;
            font-family: "Inter", sans-serif;
            color: #fff;
            h3 {
              font-weight: 700;
              font-size: 36px;
              line-height: 44px;
              max-width: 400px;
              margin-bottom: 25px;
              span {
                color: #ab5cdb;
              }
            }
            p {
              font-size: 15px;
              line-height: 25px;
              max-width: 375px;
              color: hsla(0, 0%, 100%, 0.75);
              margin-bottom: 72px;
            }
            .stats {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 375px;
                .stat {
                    display: flex;
                    flex-direction: column;
                    h4 {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                    }
                    .heading {
                        font-family: 'Lexend Deca', sans-serif;
                        text-transform: uppercase;
                        color: hsla(0, 0%, 100%, 0.6);
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 1px;
                    }
                }
            }
          }
        .overlay {
          order: 2;
          height: 100%;
          width: 540px;
          background: #ab5cdb;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          border-top-left-radius: 0;
          .image {
            height: 100%;
            background: url("../image-header-desktop.jpg");
            mix-blend-mode: multiply;
            opacity: 0.75;
          }
        }
      }
    }
  }
}
